.buttoninlist{
  position: absolute;
  right: 0;
  top: 10%;
  height: 70%;
}

.description{
  padding-top: 4%;
  margin: 5%;
  text-align: left;
  font-size: 115%;
  line-height: 150%;
}

.taskstate{
  font-size: 150%;
  align-content:center;
}

#tasknotdone{
  color: #ff5959;
}

.changecomment{
  width: 90%;
}

.submitTaskBtn{
  margin-top: 10px;
}
