<div class="divcentered">

  <!--ADMIN-->
  <mat-grid-list cols="3" rowHeight="2:2.63" *ngIf="myrole === 2">
    <mat-grid-tile>

      <mat-card class="card2">
        <mat-card-header>
          <mat-card-title>Passwortänderung</mat-card-title>
        </mat-card-header>
        <mat-card-content class="description">

          <form class="settingfields" (submit)="changePw()">
            <mat-form-field>
              <input matInput class="settingfields" name="adminoldpwinput" placeholder="Altes Passwort" [(ngModel)]="oldpw" type="password">
            </mat-form-field>

            <br>
            <mat-form-field>
              <input matInput class="settingfields" name="adminpw1input" placeholder="Neues Passwort" [(ngModel)]="newpw1" type="password">
            </mat-form-field>

            <br>

            <mat-form-field>
              <input matInput class="settingfields" name="adminpw2input" placeholder="Passwort wiederholen" [(ngModel)]="newpw2" type="password">
            </mat-form-field>

            <br>
            <div>
              <button mat-raised-button type="submit" class="applysettingsbtn">Übernehmen</button>
            </div>

          </form>

        </mat-card-content>
      </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>

      <mat-card class="card2">
        <mat-card-header>
          <mat-card-title>Allgemein & Datenbank</mat-card-title>
        </mat-card-header>
        <mat-card-content class="description">

          <form name="general" class="settingfields" (submit)="performEdit()">
            <mat-form-field>
              <input matInput name="concurrexecinput" class="settingfields" placeholder="Gleichzeitige Ausführungen" [(ngModel)]="generalConcurrentexecutioncount" type="number" min="0">
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput name="jobexectimeinput" class="settingfields" placeholder="Job-Ausführungszeit" [(ngModel)]="generalJobexecutiontime" type="number" min="0">
            </mat-form-field>
            <br>
            <mat-checkbox name="hstsinput" class="settingfields" color="primary" [(ngModel)]="generalUsehsts">Use Hosts</mat-checkbox>
            <br>
            <mat-checkbox name="evalasjobinput" class="settingfields" color="primary" [(ngModel)]="generalExecuteevalasjob">Auswertung als Job</mat-checkbox>
            <br><br>
            <mat-form-field>
              <input matInput name="dbinput" [disabled]="true" class="settingfields" placeholder="Datenbank" [(ngModel)]="dbDatabase" type="text">
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput name="dbaddressinput" [disabled]="true" class="settingfields" placeholder="Datenbank-Adresse" [(ngModel)]="dbAddress" type="text">
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput name="dbuserinput" [disabled]="true" class="settingfields" placeholder="Datenbank-Benutzer" [(ngModel)]="dbUsername" type="text">
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput name="dbpasswordinput" [disabled]="true" class="settingfields" placeholder="Datenbank-Passwort" [(ngModel)]="dbPassword" type="password">
            </mat-form-field>

            <div>
              <button mat-raised-button type="submit" class="applysettingsbtn" (click)="performEdit()">Übernehmen</button>
            </div>
          </form>


        </mat-card-content>
      </mat-card><br>

    </mat-grid-tile>
    <mat-grid-tile>

      <mat-card class="card2">
        <mat-card-header>
          <mat-card-title>LDAP & SSL</mat-card-title>
        </mat-card-header>
        <mat-card-content class="description">

          <form name="ldap" class="settingfields" (submit)="performEdit()">
            <mat-form-field>
              <input matInput name="ldapgroupprefixinput" class="settingfields" placeholder="Gruppenprefix" [(ngModel)]="ldapGroupprefix" type="text">
            </mat-form-field>
            <mat-form-field>
              <input matInput name="ldapadmingroupinput" class="settingfields" placeholder="Admin-Gruppe" [(ngModel)]="ldapAdminsgroup" type="text">
            </mat-form-field>
            <mat-form-field>
              <input matInput name="ldapteachergroupinput" class="settingfields" placeholder="Lehrer-Gruppe" [(ngModel)]="ldapTeachersgroup" type="text">
            </mat-form-field>
            <mat-form-field>
              <input matInput name="ldapstudentgroupinput" class="settingfields" placeholder="Schüler-Gruppe" [(ngModel)]="ldapStudentsgroup" type="text">
            </mat-form-field>
            <mat-form-field>
              <input matInput name="ldapserverinput" class="settingfields" placeholder="LDAP-Server" [(ngModel)]="ldapServer" type="text">
            </mat-form-field>
            <mat-form-field>
              <input matInput name="ldapuserinput" class="settingfields" placeholder="LDAP-Benutzer" [(ngModel)]="ldapUsername" type="text">
            </mat-form-field>
            <mat-form-field>
              <input matInput name="ldappasswordinput" class="settingfields" placeholder="LDAP-Passwort" [(ngModel)]="ldapPassword" type="password">
            </mat-form-field>

            <mat-form-field>
              <input matInput name="sslCmn" class="settingfields" [disabled]="true" placeholder="Commonname" [(ngModel)]="sslCommonname" type="text">
            </mat-form-field>

            <mat-form-field>
              <input matInput name="sslThmb" class="settingfields" [disabled]="true" placeholder="Thumbprint" [(ngModel)]="sslThumbprint" type="text">
            </mat-form-field>

            <mat-form-field>
              <input matInput name="sslpasswordinput" class="settingfields" placeholder="SSL-Passwort" [(ngModel)]="sslPassword" type="password">
            </mat-form-field>

            <input name="inpt" (change)="uploadSslfile()" type="file" style="display:none;" id="fileupload1" #fileupload />
            <button class="submitTaskBtn" mat-raised-button (click)="fileupload.click()">SSL-Upload</button>
            <br>

            <div>
              <button mat-raised-button type="submit" class="applysettingsbtn" (click)="performEdit()">Übernehmen</button>
            </div>

          </form>
        </mat-card-content>
      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>
  <!--TEACHER & STUDENT-->
  <mat-grid-list cols="3" rowHeight="2:2.63" *ngIf="myrole === 0 || myrole === 1">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>

      <mat-card class="card2">
        <mat-card-header>
          <mat-card-title>Passwortänderung</mat-card-title>
        </mat-card-header>
        <mat-card-content class="description">

          <form class="settingfields" (submit)="changePw()">
            <mat-form-field>
              <input matInput class="settingfields" name="oldpwinput" placeholder="Altes Passwort" [(ngModel)]="oldpw" type="password">
            </mat-form-field>

            <br>
            <mat-form-field>
              <input matInput class="settingfields" name="pw1input" placeholder="Neues Passwort" [(ngModel)]="newpw1" type="password">
            </mat-form-field>

            <br>

            <mat-form-field>
              <input matInput class="settingfields" name="pw2input" placeholder="Passwort wiederholen" [(ngModel)]="newpw2" type="password">
            </mat-form-field>

            <br>
            <div>
              <button mat-raised-button type="submit" class="applysettingsbtn">Übernehmen</button>
            </div>
          </form>

        </mat-card-content>
      </mat-card>

    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>

</div>
