.loginicon{
  color: #67de61;
  font-size: 300%;
  transition: 0.5s;
}

.loginicon:hover{
  color: #3d9c3d;
  cursor: pointer;
}

.divcenteredlogin{
  margin-top: 10%;
  height: 90%;
  text-align: center;
}

.loginform{
  margin-top: 3%;
}
