<div class="divcentered">
  <input type="file" style="display:none;" id="fileupload" />

  <mat-tab-group mat-stretch-tabs [selectedIndex]="selectedTab">
    <mat-tab label="Aufgabe hinzufügen">

      <mat-grid-list cols="3" rowHeight="2:3">
        <mat-grid-tile>

          <mat-card class="card2">
            <mat-card-header>
              <mat-card-title>Details</mat-card-title>
            </mat-card-header>
            <mat-card-content class="description noscroll">

              <form class="taskfields">
                <mat-form-field>
                  <input matInput class="taskfields" name="taskname" placeholder="Aufgabenname" [(ngModel)]="addtaskName" type="text">
                </mat-form-field>

                <mat-form-field class="taskfields" type="text">
                  <textarea matInput class="taskfields" name="taskDescription" [(ngModel)]="addtaskDescription" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="2" placeholder="Beschreibung"></textarea>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Musterlösung anzeigen</mat-label>
                  <mat-select name="samplesolDownloadable" [(ngModel)]="addtaskSamplesolutiondownloadable">
                    <mat-option *ngFor="let s of samplesolDownloadablevalues" [value]="s.value">
                      {{s.showtxt}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Bewertung anzeigen</mat-label>
                  <mat-select name="samplesolDownloadable" [(ngModel)]="addtaskShowratingafterdeadline">
                    <mat-option *ngFor="let r of ratingShowvalues" [value]="r.value">
                      {{r.showtxt}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <input matInput name="addtaskDeadline" type="datetime-local" placeholder="Abgabefrist" [(ngModel)]="addtaskDeadline">
                </mat-form-field>
              </form>
              <button mat-raised-button (click)="createTask()" class="taskcreatebtn">Aufgabe erstellen</button>

            </mat-card-content>
          </mat-card>

        </mat-grid-tile>
        <mat-grid-tile>

          <mat-card class="card2">
            <mat-card-header>
              <mat-card-title>Dateien hochladen</mat-card-title>
            </mat-card-header>
            <mat-card-content class="cardcontentscrollable">

              <button mat-raised-button *ngIf="addtaskStatementfile == undefined" (click)="addFileToTaskString('statement')" class="uploadbtn">Angabe hochladen</button>
              <button mat-raised-button *ngIf="addtaskStatementfile != undefined" color="primary" (click)="deleteUploadFromString('statement')" class="uploadbtn">Angabe hochgeladen</button>
              <button mat-raised-button *ngIf="addtaskSamplesolutionfile == undefined" (click)="addFileToTaskString('samplesol')" class="uploadbtn">Musterlösung hochladen</button>
              <button mat-raised-button *ngIf="addtaskSamplesolutionfile != undefined" color="primary" (click)="deleteUploadFromString('samplesol')" class="uploadbtn">Musterlösung hochgeladen</button>
              <button mat-raised-button (click)="addFileToTaskArray(this.addtaskAttachmentaddlist)" class="uploadbtn">Anhang hochladen</button>

              <mat-card class="uploadlistcontainer" *ngIf="addtaskAttachmentnameaddlist.length > 0">
                <mat-card-header>
                  <mat-card-title>Uploads</mat-card-title>
                </mat-card-header>
                <mat-card-content class="cardcontentscrollable">

                  <mat-list role="list">
                    <mat-list-item *ngFor="let a of addtaskAttachmentnameaddlist" role="listitem">{{a}}<fa-icon class="remove" [icon]="iconRemove" matTooltip="Entfernen" [matTooltipShowDelay]="1000" (click)="deleteUploadFromArray(a)"></fa-icon></mat-list-item>
                  </mat-list>

                </mat-card-content>
              </mat-card>
            </mat-card-content>
          </mat-card>

        </mat-grid-tile>
        <mat-grid-tile>

          <mat-card class="card2">
            <mat-card-header>
              <mat-card-title>Bewertung</mat-card-title>
            </mat-card-header>
            <mat-card-content class="description">

              <mat-form-field class="taskfields">
                <input matInput class="taskfields" name="setmaxpoints" placeholder="Maximale Punkte" [(ngModel)]="addtaskMaxpoints" type="number" min="0">
              </mat-form-field>

              <mat-form-field class="taskfields">
                <mat-label>Plugin</mat-label>
                <mat-select name="samplesolDownloadable" [(ngModel)]="addtaskProgrammingLang" #progl>
                  <mat-option [value]="undefined">
                    Keines
                  </mat-option>
                  <mat-option *ngFor="let pl of addtaskAvailableProgrammingLang" [value]="pl" (click)="changeProgLang(pl)">
                    {{pl}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="taskfields" *ngIf="progl.value !== undefined">
                <mat-label>Prüfungsmodus</mat-label>
                <mat-select name="samplesolDownloadable" [(ngModel)]="addtaskCheckmode" #checkm>
                  <mat-option *ngFor="let cm of addtaskAvailableCheckmodesForProgl" [value]="cm">
                    <span *ngIf="cm == 0">Output</span>
                    <span *ngIf="cm == 1">Musterlösung</span>
                    <span *ngIf="cm == 2">Testprogramm</span>
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div *ngIf="addtaskCheckmode == 0">
                <mat-form-field class="taskfields">
                  <input matInput class="taskfields" name="evalInput1" placeholder="Input-Parameter" [(ngModel)]="addtaskTempInput" type="text">
                </mat-form-field>
                <mat-form-field class="taskfields">
                  <input matInput class="taskfields" name="evalOutput1" placeholder="Output-Parameter" [(ngModel)]="addtaskTempOutput" type="text">
                </mat-form-field>
                <button mat-raised-button (click)="addtaskProgramparamSet()" class="taskcreatebtn">Parameter hinzufügen</button>

                <mat-card class="uploadlistcontainer" *ngIf="addtaskPrograminputs.length > 0 && addtaskProgramoutputs.length > 0">
                  <mat-card-header>
                    <mat-card-title>Parameter</mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="cardcontentscrollable">

                    <mat-list role="list">
                      <mat-list-item *ngFor="let input of addtaskPrograminputs; let i = index" role="listitem">{{addtaskPrograminputs[i]}} - {{addtaskProgramoutputs[i]}}<fa-icon class="remove" [icon]="iconRemove" matTooltip="Entfernen" [matTooltipShowDelay]="1000" (click)="deleteTaskPrograminput(input)"></fa-icon></mat-list-item>
                    </mat-list>

                  </mat-card-content>
                </mat-card>
              </div>

              <div *ngIf="addtaskCheckmode == 1">
                <mat-form-field class="taskfields">
                  <input matInput class="taskfields" name="evalInput2" placeholder="Input-Parameter" [(ngModel)]="addtaskTempInput" type="text">
                </mat-form-field>
                <button mat-raised-button (click)="addtaskProgramparamSet()" class="taskcreatebtn">Parameter hinzufügen</button>

                <mat-card class="uploadlistcontainer" *ngIf="addtaskPrograminputs.length > 0">
                  <mat-card-header>
                    <mat-card-title>Parameter</mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="cardcontentscrollable">

                    <mat-list role="list">
                      <mat-list-item *ngFor="let i of addtaskPrograminputs" role="listitem">{{i}}<fa-icon class="remove" [icon]="iconRemove" matTooltip="Entfernen" [matTooltipShowDelay]="1000" (click)="deleteTaskPrograminput(i)"></fa-icon></mat-list-item>
                    </mat-list>

                  </mat-card-content>
                </mat-card>

                <mat-form-field class="taskfields">
                  <mat-label>Konsolenoutput</mat-label>
                  <mat-select name="samplesolDownloadable" [(ngModel)]="addtaskConsoleoutputcheck">
                    <mat-option *ngFor="let c of checkconsoleoutvalues" [value]="c.value">
                      {{c.showtxt}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="taskfields">
                  <input matInput class="taskfields" name="evalInput2" placeholder="Output-Pfad" [(ngModel)]="addtaskOutputpathCheckCurr" type="text">
                </mat-form-field>
                <button mat-raised-button (click)="addtaskAddoutputpath()" class="taskcreatebtn">Pfad hinzufügen</button>

                <mat-card class="uploadlistcontainer" *ngIf="addtaskOutputpathCheck.length > 0">
                  <mat-card-header>
                    <mat-card-title>Output-Pfade</mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="cardcontentscrollable">

                    <mat-list role="list">
                      <mat-list-item *ngFor="let o of addtaskOutputpathCheck" role="listitem">{{o}}<fa-icon class="remove" [icon]="iconRemove" matTooltip="Entfernen" [matTooltipShowDelay]="1000" (click)="deleteTaskOutputpath(o)"></fa-icon></mat-list-item>
                    </mat-list>

                  </mat-card-content>
                </mat-card>
              </div>

              <div *ngIf="addtaskCheckmode == 2">
                <button mat-raised-button *ngIf="addtaskTestprogram == undefined" (click)="addFileToTaskString('testprogram')" class="taskcreatebtn">Testprogramm hochladen</button>
                <button mat-raised-button *ngIf="addtaskTestprogram != undefined" (click)="deleteUploadFromString('testprogram')" color="primary" class="taskcreatebtn">Testprogramm hochladen</button>
              </div>

            </mat-card-content>
          </mat-card>

        </mat-grid-tile>
      </mat-grid-list>

    </mat-tab>
    <mat-tab *ngIf="data.alltabs" label="Aufgabe bearbeiten">

      <mat-grid-list cols="3" rowHeight="2:3">
        <mat-grid-tile>

          <mat-card class="card2">
            <mat-card-header>
              <mat-card-title>Details</mat-card-title>
            </mat-card-header>
            <mat-card-content class="description noscroll">

              <form class="taskfields">
                <mat-form-field>
                  <input matInput class="taskfields" name="taskname" placeholder="Aufgabenname" [(ngModel)]="edittaskName" type="text">
                </mat-form-field>

                <mat-form-field class="taskfields" type="text">
                  <textarea matInput class="taskfields" name="taskDescription" [(ngModel)]="edittaskDescription" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="2" placeholder="Beschreibung"></textarea>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Musterlösung anzeigen</mat-label>
                  <mat-select name="samplesolDownloadable" [(ngModel)]="edittaskSamplesolutiondownloadable" #sdownloadable>
                    <mat-option *ngFor="let s of samplesolDownloadablevalues" [value]="s.value">
                      {{s.showtxt}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Bewertung anzeigen</mat-label>
                  <mat-select name="showratingafterdl" [(ngModel)]="edittaskShowratingafterdeadline">
                    <mat-option *ngFor="let r of ratingShowvalues" [value]="r.value">
                      {{r.showtxt}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <input matInput name="edittaskDeadline" type="datetime-local" id="editDeadline" placeholder="Abgabefrist" [(ngModel)]="edittaskDeadline">
                </mat-form-field>
              </form>
              <button mat-raised-button (click)="editTask(this.taskid)" class="taskcreatebtn">Aufgabe bearbeiten</button>

            </mat-card-content>
          </mat-card>

        </mat-grid-tile>
        <mat-grid-tile>

          <mat-card class="card2">
            <mat-card-header>
              <mat-card-title>Dateien hochladen</mat-card-title>
            </mat-card-header>
            <mat-card-content class="cardcontentscrollable">

              <button mat-raised-button *ngIf="edittaskStatementfile === ''" (click)="addFileToTaskStringEdit('statement')" class="uploadbtn">Angabe hochladen</button>
              <button mat-raised-button *ngIf="edittaskStatementfile !== ''" color="primary" (click)="deleteUploadFromStringEdit('statement')" class="uploadbtn">Angabe hochgeladen</button>
              <button mat-raised-button *ngIf="edittaskSamplesolutionfile === ''" (click)="addFileToTaskStringEdit('samplesol')" class="uploadbtn">Musterlösung hochladen</button>
              <button mat-raised-button *ngIf="edittaskSamplesolutionfile !== ''" color="primary" (click)="deleteUploadFromStringEdit('samplesol')" class="uploadbtn">Musterlösung hochgeladen</button>
              <button mat-raised-button (click)="addFileToTaskArrayEdit(this.edittaskAttachmentaddlist)" class="uploadbtn">Anhang hochladen</button>

              <mat-card class="uploadlistcontainer" *ngIf="edittaskAttachmentnameaddlist.length > 0">
                <mat-card-header>
                  <mat-card-title>Uploads</mat-card-title>
                </mat-card-header>
                <mat-card-content class="cardcontentscrollable">

                  <mat-list role="list">
                    <mat-list-item *ngFor="let a of edittaskAttachmentnameaddlist" role="listitem">{{a}}<fa-icon class="remove" [icon]="iconRemove" matTooltip="Entfernen" [matTooltipShowDelay]="1000" (click)="deleteUploadFromArrayEdit(a)"></fa-icon></mat-list-item>
                  </mat-list>

                </mat-card-content>
              </mat-card>
            </mat-card-content>
          </mat-card>

        </mat-grid-tile>
        <mat-grid-tile>

          <mat-card class="card2">
            <mat-card-header>
              <mat-card-title>Bewertung</mat-card-title>
            </mat-card-header>
            <mat-card-content class="description">

              <mat-form-field class="taskfields">
                <input matInput class="taskfields" name="setmaxpoints" placeholder="Maximale Punkte" [(ngModel)]="edittaskMaxpoints" type="number" min="0">
              </mat-form-field>

              <mat-form-field class="taskfields">
                <mat-label>Plugin</mat-label>
                <mat-select name="samplesolDownloadable" [(ngModel)]="edittaskProgrammingLang" #progl>
                  <mat-option [value]="undefined">
                    Keines
                  </mat-option>
                  <mat-option *ngFor="let pl of edittaskAvailableProgrammingLang" [value]="pl" (click)="changeProgLangEdit(pl)" #progl2>
                    {{pl}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="taskfields" *ngIf="edittaskProgrammingLang !== undefined">
                <mat-label>Prüfungsmodus</mat-label>
                <mat-select name="samplesolDownloadable" [(ngModel)]="edittaskCheckmode" #checkm>
                  <mat-option *ngFor="let cm of edittaskAvailableCheckmodesForProgl" [value]="cm">
                    <span *ngIf="cm == 0">Output</span>
                    <span *ngIf="cm == 1">Musterlösung</span>
                    <span *ngIf="cm == 2">Testprogramm</span>
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div *ngIf="edittaskCheckmode == 0">
                <mat-form-field class="taskfields">
                  <input matInput class="taskfields" name="evalInput3" placeholder="Input-Parameter" [(ngModel)]="edittaskTempInput" type="text">
                </mat-form-field>
                <mat-form-field class="taskfields">
                  <input matInput class="taskfields" name="evalOutput2" placeholder="Output-Parameter" [(ngModel)]="edittaskTempOutput" type="text">
                </mat-form-field>
                <button mat-raised-button (click)="addtaskProgramparamSetEdit()" class="taskcreatebtn">Parameter hinzufügen</button>

                <mat-card class="uploadlistcontainer" *ngIf="edittaskPrograminputs.length > 0 && edittaskProgramoutputs.length > 0">
                  <mat-card-header>
                    <mat-card-title>Parameter</mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="cardcontentscrollable">

                    <mat-list role="list">
                      <mat-list-item *ngFor="let input of edittaskPrograminputs; let i = index" role="listitem">{{edittaskPrograminputs[i]}} - {{edittaskProgramoutputs[i]}}<fa-icon class="remove" [icon]="iconRemove" matTooltip="Entfernen" [matTooltipShowDelay]="1000" (click)="deleteTaskPrograminputEdit(input)"></fa-icon></mat-list-item>
                    </mat-list>

                  </mat-card-content>
                </mat-card>
              </div>

              <div *ngIf="edittaskCheckmode == 1">
                <mat-form-field class="taskfields">
                  <input matInput class="taskfields" name="evalInput4" placeholder="Input-Parameter" [(ngModel)]="edittaskTempInput" type="text">
                </mat-form-field>
                <button mat-raised-button (click)="addtaskProgramparamSetEdit()" class="taskcreatebtn">Parameter hinzufügen</button>

                <mat-card class="uploadlistcontainer" *ngIf="edittaskPrograminputs.length > 0">
                  <mat-card-header>
                    <mat-card-title>Parameter</mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="cardcontentscrollable">

                    <mat-list role="list">
                      <mat-list-item *ngFor="let i of edittaskPrograminputs" role="listitem">{{i}}<fa-icon class="remove" [icon]="iconRemove" matTooltip="Entfernen" [matTooltipShowDelay]="1000" (click)="deleteTaskPrograminputEdit(i)"></fa-icon></mat-list-item>
                    </mat-list>

                  </mat-card-content>
                </mat-card>

                <mat-form-field class="taskfields">
                  <mat-label>Konsolenoutput</mat-label>
                  <mat-select name="samplesolDownloadable" [(ngModel)]="edittaskConsoleoutputcheck">
                    <mat-option *ngFor="let c of checkconsoleoutvalues" [value]="c.value">
                      {{c.showtxt}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="taskfields">
                  <input matInput class="taskfields" name="evalInput2" placeholder="Output-Pfad" [(ngModel)]="edittaskOutputpathCheckCurr" type="text">
                </mat-form-field>
                <button mat-raised-button (click)="addtaskAddoutputpathEdit()" class="taskcreatebtn">Pfad hinzufügen</button>

                <mat-card class="uploadlistcontainer" *ngIf="edittaskOutputpathCheck.length > 0">
                  <mat-card-header>
                    <mat-card-title>Output-Pfade</mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="cardcontentscrollable">

                    <mat-list role="list">
                      <mat-list-item *ngFor="let o of edittaskOutputpathCheck" role="listitem">{{o}}<fa-icon class="remove" [icon]="iconRemove" matTooltip="Entfernen" [matTooltipShowDelay]="1000" (click)="deleteTaskOutputpathEdit(o)"></fa-icon></mat-list-item>
                    </mat-list>

                  </mat-card-content>
                </mat-card>
              </div>

              <div *ngIf="edittaskCheckmode == 2">
                <button mat-raised-button *ngIf="edittaskTestprogram == undefined" (click)="addFileToTaskStringEdit('testprogram')" class="taskcreatebtn">Testprogramm hochladen</button>
                <button mat-raised-button *ngIf="edittaskTestprogram != undefined" (click)="deleteUploadFromStringEdit('testprogram')" color="primary" class="taskcreatebtn">Testprogramm hochladen</button>
              </div>

            </mat-card-content>
          </mat-card>

        </mat-grid-tile>
      </mat-grid-list>

    </mat-tab>
  </mat-tab-group>

</div>
